body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

html{
    scroll-behavior: smooth;

}

header {
    background-color:#FF69B4;
    color: whitesmoke;
    text-align: center;
    padding: 1em;
    position: relative;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: pink;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 10%;
    font-size: 30px;
}

.header-text h1 span{
    font-size: 60px;
    margin-top: auto;
}

#about {
    padding: 110px 0;
    color: whitesmoke;
    font-size: x-large;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 40%; 
}

.about-col-1 img {
    width: 110%; 
    height:fit-content; 
    border-radius: 10px; 
}


.about-col-2 {
    flex-basis: 35%; 
}

.sub {
    font-size: 60px;
    font-weight: 600;
    color: rgb(238, 19, 183);
}

#skills{
    padding: 30px 0;
  
}
.skills-list{
    list-style-type: disc;
    color: aliceblue;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}

.hobbies-list{
    list-style-type: disc;
    color: aliceblue;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}

.contact-top {
    color: white;
    font-style: italic;
    flex-basis: 2%;
    text-align: center;
    

}

.btn{
    display: inline-block;
    background-color:rgb(238, 19, 183);
    
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px;
    font-size: 18px;
    border-radius: 6px;   

}

form .btn{
    padding: 12px 40px;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    
}

.alert{
    width: 100%;
    background: #e04090;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    color: aliceblue;
    display: none;
}




